# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
.vscode/

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
.idea/
.env
server/.air.toml
server/tmp

# React
client/.DS_STORE
client/node_modules
client/scripts/flow/*/.flowconfig
client/.flowconfig
client/*~
client/*.pyc
client/.grunt
client/_SpecRunner.html
client/__benchmarks__
client/build/
client/remote-repo/
client/coverage/
client/.module-cache
client/fixtures/dom/public/react-dom.js
client/fixtures/dom/public/react.js
client/test/the-files-to-test.generated.js
client/*.log*
client/chrome-user-data
